html,body {

    width: 100%;
    min-width: 1024px;
    margin: 0 auto;

}

.container{



}

.header{

  height: 290px;

}

.head{
  margin-top: 0px;
  width: 100%;
  height: 50px;
  background-color: #0066ff;

}

.head h1{
  margin: 0px;
  color: white;
  margin-left: 10px;
}

.head ul{
  list-style: none;
  float: right;
  margin-top: 0px;
  margin-right: 10px;

}
.head ul li{

  display: inline;
}

.head ul li a{

  text-decoration: none;
  color: black;

}
#img1{

  width: 100%;
  height: 240px;
}
/**머리**/

/**몸통**/

.contant{

  display: flex;
  flex-direction: row;
  width: 1024px;
  height: 100%;
  margin:0 auto;
  margin-top: 10px;

}


main{
  width: 600px;
  margin-right: 20px;
}

#box1{

  width: 600px;
  height: 150px;
  background-color: gray;
}

.today{
  width: 600px;
  height: 330px;
  margin-top: 20px;
  background-color: gray;
}

.today h1{
  height: 40px;
  background: #0066ff;
  font-size: 30px;
  text-align: center;
  color: white;
  border: 3px solid black;
}

.game{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 15px;


}

#game1{

  width: 180px;
  height: 100px;
  background: white;
  margin-top: 10px;

}

#game1 h3{
  width: 174px;
  background-color: #0066ff;
  margin:0px;
  text-align: center;
  border: 3px solid black;
  color:white;
}

#game1  h4{
  width: 174px;

  background-color: #cccccc;
  margin:0px;

  border: 3px solid black;
  color:white;
}

#game1 span{
  margin-top: 0px;

  font-size: 12px;
}

#game1 img{

margin-left: 10px;
margin-bottom: 0px;

}




#game2{

  width: 180px;
  height: 100px;
  background: white;
  margin-top: 10px;


}

#game3{

  width: 180px;
  height: 100px;
  background: white;
  margin-top: 10px;


}

#game4{

  width: 180px;
  height: 100px;
  background: white;
  margin-top: 20px;



}

#game5{

  width: 180px;
  height: 100px;
  background: white;
  margin-top: 20px;


}

#game6{

  width: 180px;
  height: 100px;
  background: white;
  margin-top: 20px;


}



#box3{

  width: 600px;
  height: 90px;
  margin-top: 20px;
  background-color: gray;
}

aside{


  width: 404px;
}

.logi_box{

  width: 400px;
  height: 150px;
  background-color: white;
  border: gray solid 1px;

}

.logi_box button{

  margin-top: 25px;
  margin-left: 75px;
  width: 250px;
  height: 100px;
  background-color: #0066ff;
  border: 2px solid #0066ff;
  font-size: 25px;
  color: white;
  font-family: 휴먼모음 T;
}

#box5{

  width: 400px;
  height: 440px;
  background-color: gray;
  margin-top: 20px;
}

.contant2{

  display: flex;
  margin: 0 auto;
  margin-top: 10px;

  width: 1024px;
  height: 300px;

}

.A{

  width: 332px;
  margin-right: 10px;
background-color: gray;
}

.B{
  width: 335px;
  margin-right: 10px;
background-color: gray;

}

.C{
  width: 335px;
  background-color: gray;

}

.foot{
  margin-top: 10px;
  border: 1px solid gray;
  margin: 0 auto;
  margin-top: 20px;
  width: 1024px;
  height: 50px;
  background-color: gray;
}
